#Star-guardian {
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  width: 100vw;
  height: 30vh;
  background-image: url("https://www.publicdomainpictures.net/pictures/150000/velka/banner-header-tapete-145002399028x.jpg");
}
#Star-guardian h1{
  color: white;
  position: absolute;
  left: 45vw;
  font-size: 40px;
  bottom: 5vh;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3px; 
}
#Star-guardian h2{
  color: white;
  position: absolute;
  left: 42.5vw;
  bottom: 0;
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}
#tint {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3)
}
div {background-color: white;}
div a {
  text-decoration: none;
  color: #F388BA;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
  z-index: 1; 
}
ul li {display: inline-block;}
ul li:hover {background: #ffffff;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #ffffff; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #ffffff;}

span {
  text-decoration: none;
  color: #F388BA;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}



