h1{
  color: white;
  fontsize: 
  text-align: center;
}
h2{
  color: whitee;
  fontsize:
  text-align: center;
}


#Star-guardian {
  width: 100%;
  height: 45%;
  background-image: url("Star-guardian.jpg");
}





